<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Recycle Center</title>
<script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="min-h-screen bg-gray-100">
  <main class="container mx-auto p-6">
    <%- body %>
  </main>
</body>
</html>
